#============= time_daemon ==============
allow time_daemon self:capability { dac_override dac_read_search };
allow time_daemon time_daemon:capability { setgid setuid };
